{% extends 'base.html' %}
{% block content %}
<h3>All Courses</h3>
<a href="{% url 'add_course' %}" class="btn btn-success mb-3">+ Add Course</a>
<table class="table table-bordered">
  <tr><th>Title</th><th>Code</th><th>Instructor</th><th>Action</th></tr>
  {% for c in courses %}
  <tr>
    <td>{{ c.title }}</td>
    <td>{{ c.code }}</td>
    <td>{{ c.instructor.name }}</td>
    <td>
      <a href="{% url 'edit_course' c.id %}" class="btn btn-sm btn-primary">Edit</a>
      <a href="{% url 'delete_course' c.id %}" class="btn btn-sm btn-danger">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
