
{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="card shadow-sm mb-5">
    <div class="card-header  text-white d-flex justify-content-between align-items-center">
      <h4 class="mb-0 text-dark" >Instructors</h4>
     
    </div>
    <div class="card-body">
      <table class="table table-hover table-bordered align-middle">
        <thead class="table-success">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            
           
            <th scope="col" class="text-center">Picture</th>
          </tr>
        </thead>
        <tbody>
          {% for i in instructors %}
          <tr>
            
            <td>{{ i.name }}</td>
            <td>{{ i.department }}</td>
            <td>{{ i.email }}</td>
             <td>{{ i.phone }}</td>
           
            <td class="text-center">

               <img src="{{ i.picture.url }}" alt="Courses" class="mx-auto mb-3" width="150"> 

               

            </td>
          </tr>
          {% empty %}
          <tr><td colspan="4" class="text-center text-muted">No instructors found.</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

<br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}

    name = models.CharField(max_length=100)
    department = models.CharField(max_length=100)
    email = models.EmailField(unique=True)
    phone = models.CharField(max_length=15)  # Changed IntegerField → CharField
    picture = models.ImageField(upload_to='instructors/')
