{% extends "base.html" %}
{% block content %}

<div class="card shadow-sm mb-5">
    <div class="card-header  text-white d-flex justify-content-between align-items-center">
      <h4 class="mb-0 text-dark" >All Students</h4>
     
    </div>
    <div class="card-body">
      <table class="table table-hover table-bordered align-middle">
        <thead class="table-success">
          <tr>
            <th scope="col">SID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Course</th>
            <th scope="col">Picture</th>

           
          </tr>
        </thead>
        <tbody>
          {% for s in students %}
          <tr>
            <td>{{ s.sid }}</td>
            <td>{{ s.name }}</td>
            <td>{{ s.email }}</td>
            <td>{{ s.phone }}</td>
            <td>{{ s.course }}</td>
            <td><img src="{{ s.picture.url }}" alt="Courses" class="mx-auto mb-3" width="150"> </td>
           
           
          </tr>
          {% empty %}
          <tr><td colspan="4" class="text-center text-muted">No students found.</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

<br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}


  